*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(./images/BG.jpg);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 420px;
    width: 320px;
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.up_contain{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

.dot{
    height: 30px;
    width: 30px;
}
.profile{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 3px solid red;
}

.car{
    height:300px ;
    width: 300px;
}

.post{
    height: 300px;
    width: 300px;
}

.h1{
    font-size: 10px;
    margin-top: 7px;
    margin-left: 7px;
}

.left{
    display: flex;
}

.icons{
    height: 30px;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.leftIcons > img{
    height: 20px;
    width: 20px;
    margin-top: 5px;
}

.leftIcons{
    display: flex;
    justify-content: space-between;
}

.save{
    height: 15px;
    width: 20px;
    margin-top: 5px;
}

p{
    font-size: 15px;
    margin-right: 13px;}

#dot{
    height: 30px;
    width: 30px;    
}


